:root {
  --titles-font-family: 'PT Serif', 'Georgia', 'Times', serif;
  --text-font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  --light-theme-title-color: #000000;
  --dark-theme-title-color: #ffffff;
  --web-studio-fill: rgba(255, 255, 255, 0.5);
  --light-theme-text-color: #333333;
  --dark-theme-text-color: rgba(255, 255, 255, 0.8);
  --helper-text-color: #76767a;
  --link-text-color: #0050b2;
  --accent-btn-color1: #004395;
  --light-bg-blue: rgba(158, 163, 170, 0.07);
  --first-brand-color: #70cf29;
  --light-bg-green: rgba(112, 207, 41, 0.07);
  --second-brand-color: #3fa9f5;
  --form-background-color: #f5f5f7;
  --footer-background-color: #202020;
  --studio-logo-color: rgba(255, 255, 255, 0.5);
  --active-link-text-color: #d51a1a;
  --interactive-elements-color: #0061d9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img,
a,
b,
small {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms var(--timing-func);
}

.list {
  list-style: none;
}

body {
  font-family: var(--text-font-family);
  color: var(--light-theme-text-color);
}

.container {
  width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.section_border_bottom {
  border-bottom: 1px solid #d9d9de;
}

.section_light-bg_blue {
  background-color: var(--light-bg-blue);
}

.section_light-bg_green {
  background-color: var(--light-bg-green);
}

.logo__text-wrapper {
  margin-left: 20px;
}

.logo__name {
  font-family: var(--titles-font-family);
  font-size: 20px;
  line-height: 1.3;
  color: var(--dark-theme-title-color);
}

.logo__company {
  font-size: 18px;
  line-height: 1.17;
  color: var(--dark-theme-title-color);
}

.contacts__item {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--dark-theme-title-color);
}

.contacts__item:not(:last-child) {
  margin-right: 33px;
}

.contacts__icon {
  margin-right: 13px;
  fill: var(--dark-theme-title-color);
  opacity: 0.8;
}

.modal-btn {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 16px;
  line-height: 1.19;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  cursor: pointer;
  color: var(--dark-theme-title-color);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-btn-color1);
  border-color: var(--accent-btn-color1);
}

.link-btn {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 53px;
  padding-right: 53px;
  font-size: 18px;
  line-height: 1.17;
  border: 1px solid var(--dark-theme-title-color);
  border-radius: 30px;
  color: var(--dark-theme-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-btn:hover, .link-btn:focus {
  background-color: var(--accent-btn-color1);
  border-color: var(--accent-btn-color1);
}

.link-btn_uppercase {
  text-transform: uppercase;
}

.titles {
  font-family: var(--titles-font-family);
  font-size: 30px;
  line-height: 1.3;
  color: var(--light-theme-title-color);
}

.titles_align_center {
  text-align: center;
}

.grid {
  display: grid;
  gap: 32px;
}

.grid_column-qty_3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid_column-qty_4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid_template:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.tours-card {
  border-radius: 6px;
  border: 1px solid #d9d9de;
  overflow: hidden;
}

.tours-card__link {
  padding-bottom: 16px;
}

.tours-card__img {
  max-width: 100%;
  margin-bottom: 16px;
}

.tours-card__title {
  padding-left: 19px;
  padding-right: 19px;
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--light-theme-title-color);
}

.direction__icon {
  margin-bottom: 16px;
}

.direction__description {
  font-size: 16px;
  line-height: 1.3;
  color: var(--light-theme-text-color);
}

.offer-card__link {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.offer-card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  border-radius: 6px;
}

.offer-card__overlay_main_gradient {
  background: linear-gradient(180deg, #000000 0%, #ffffff 48.44%, #ffffff 76.04%, #000000 100%);
  opacity: 0.7;
}

.offer-card__overlay_accent_gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #000000 0%, #ffffff 36.46%, #ffffff 80.73%, #000000 100%);
  opacity: 0.7;
}

.offer-card__overlay_mono {
  background: #000000;
  opacity: 0.5;
}

.offer-card__title {
  position: absolute;
  top: 16px;
  left: 17px;
  max-width: 82%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: var(--dark-theme-title-color);
}

.offer-card__title_larger {
  top: 27px;
  left: 33px;
  font-size: 24px;
}

.offer-card__img {
  max-width: 100%;
}

.offer-card__title_position_center {
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offer-card__price {
  position: absolute;
  bottom: 19px;
  left: 17px;
  font-size: 16px;
  line-height: 1.3;
  color: var(--dark-theme-title-color);
}

.list-manager {
  display: flex;
  align-items: center;
}

.list-manager__link {
  margin-right: 55px;
  color: var(--link-text-color);
  line-height: 1.19;
  text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-manager__link:hover, .list-manager__link:focus {
  color: var(--active-link-text-color);
}

.list-manager__list {
  display: flex;
  align-items: center;
}

.list-manager__item {
  stroke: var(--interactive-elements-color);
}

.list-manager__item:not(:last-child) {
  margin-right: 15px;
}

.list-manager__item:hover, .list-manager__item:focus {
  stroke: var(--active-link-text-color);
}

.list-manager__item:hover .list-manager__button,
.list-manager__item:focus .list-manager__button {
  border-color: var(--active-link-text-color);
}

.list-manager__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--interactive-elements-color);
  border-radius: 50%;
  background-color: transparent;
  color: var(--interactive-elements-color);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-manager__icon {
  fill: none;
}

.list-manager__icon_back {
  transform: scale(-1, 1);
}

.gallery-card {
  border-radius: 6px;
  overflow: hidden;
}

.gallery-card__img {
  max-width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(217, 217, 222, 0.3);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 179px;
}

.header__contacts {
  display: flex;
}

.header__modal-btn {
  margin-left: auto;
}

.navigation {
  position: absolute;
  width: 100%;
  top: 82px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation__menu {
  display: flex;
}

.navigation__item {
  font-size: 16px;
  line-height: 1.19;
  color: var(--dark-theme-title-color);
}

.navigation__item:not(:last-child) {
  margin-right: 32px;
}

.hero {
  padding-top: 226px;
  padding-bottom: 33px;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c4c4c4;
  background-image: url(../images/hero/hero.jpg);
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 8px;
  font-family: var(--titles-font-family);
  font-size: 90px;
  line-height: 1.3;
  color: var(--dark-theme-title-color);
}

.hero__description {
  font-size: 20px;
  line-height: 1.4;
  color: var(--dark-theme-title-color);
  margin-bottom: 94px;
}

.hero__link-btn {
  margin-bottom: 184px;
}

.hero__icon {
  fill: none;
  stroke: var(--dark-theme-title-color);
}

.hero__arrow {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--dark-theme-title-color);
  border-radius: 50%;
}

.tours {
  padding-top: 64px;
  padding-bottom: 64px;
}

.directions {
  padding-top: 44px;
  padding-bottom: 80px;
}

.directions_titles {
  margin-bottom: 50px;
}

.directions__grid {
  row-gap: 37px;
}

.map {
  padding-top: 70px;
  padding-bottom: 38px;
}

.map_titles {
  margin-bottom: 31px;
}

.offers {
  padding-top: 76px;
  padding-bottom: 80px;
}

.offers__titles {
  margin-bottom: 40px;
}

.gallery {
  padding-top: 44px;
  padding-bottom: 80px;
}

.gallery__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}

.gallery__list-manager {
  margin-left: auto;
}

.form {
  padding: 48px 0 76px 0;
  background-color: var(--form-background-color);
}

.form__request {
  padding-left: 144px;
  padding-right: 144px;
}

.form__group-field {
  position: relative;
  display: grid;
  grid-template-areas: 'label-1 label-1 label-2 label-2 label-3 label-3' 'label-4 label-4 label-5 label-5 label-6 label-6' 'label-7 label-9 label-9 label-9 label-9 label-9' 'label-8 label-9 label-9 label-9 label-9 label-9';
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 2fr 1fr 2fr 1fr 3fr;
  row-gap: 24px;
  column-gap: 30px;
  padding-bottom: 90px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.form__label-1 {
  grid-area: label-1;
}

.form__label-2 {
  grid-area: label-2;
}

.form__label-3 {
  grid-area: label-3;
}

.form__label-4 {
  grid-area: label-4;
}

.form__label-5 {
  grid-area: label-5;
}

.form__label-6 {
  grid-area: label-6;
}

.form__label-7 {
  grid-area: label-7;
}

.form__label-8 {
  grid-area: label-8;
}

.form__label-9 {
  grid-area: label-9;
}

.form__title {
  margin-bottom: 51px;
  color: var(--light-theme-title-color);
  font-family: PT Serif;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
}

/* .form__label {
  margin-bottom: 24px;
  flex-basis: calc((100% - 64px) / 3);
} */
.form__input {
  width: 100%;
  margin: 0;
  padding: 11px 12px;
  border: 1px solid var(--form-border-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__group-field ::placeholder,
.form__label ::placeholder {
  font-size: 16px;
  line-height: 1.3;
  color: var(--helper-text-color);
}

/* .form__dates {
  display: flex;
  flex-direction: column;
  max-width: 18%;
  margin-bottom: 6px;
}
.form__dates + .form__label {
  min-width: 78%;
  margin-bottom: 30px;
} */
.form__textarea {
  width: 100%;
  height: 100%;
  padding: 11px 14px;
  resize: none;
  border: 1px solid var(--form-border-color);
}

.form__input:hover,
.form__textarea:hover,
.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: var(--active-link-text-color);
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox-field {
  position: absolute;
  right: 0;
  bottom: 5%;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.3;
  text-decoration-line: underline;
  color: var(--helper-text-color);
  /* grid-area: checkbox; */
}

.form__checkbox-field:hover .form__checkbox-icon {
  border: 1px solid var(--active-link-text-color);
}

.form__checkbox-icon {
  width: 26px;
  height: 26px;
  margin-right: 16px;
  border: 2px solid var(--helper-text-color);
  border-radius: 2px;
  fill: transparent;
  stroke: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:focus + .form__checkbox-icon {
  border: 1px solid var(--active-link-text-color);
}

.form__checkbox:checked + .form__checkbox-icon {
  /* border: 1px solid transparent; */
  background-color: var(--interactive-elements-color);
  fill: var(--dark-theme-title-color);
  stroke: var(--dark-theme-title-color);
}

.form__send-button {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  padding: 20px 72px;
  background-color: var(--interactive-elements-color);
  color: var(--dark-theme-title-color);
  border-radius: 30px;
  border: none;
  /* border: 1px solid var(--interactive-elements-color); */
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* grid-area: button; */
}

.form__send-button:hover,
.form__send-button:focus {
  outline: none;
  border: 1px solid var(--active-link-text-color);
}

.footer {
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: var(--footer-background-color);
}

.footer-top {
  display: flex;
  margin-bottom: 32px;
}

.footer-top-column:not(:last-child) {
  margin-right: 76px;
}

.footer-top-column-title {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
}

.dark-title {
  color: var(--dark-theme-title-color);
}

.footer-top-column-list-item {
  font-size: 16px;
  line-height: 1.3;
}

.footer-top-column-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.dark-text {
  color: var(--dark-theme-text-color);
}

.footer-bottom {
  display: flex;
  padding-top: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.address {
  font-style: normal;
  display: flex;
}

.footer-bottom-column,
.address-column:not(:last-child) {
  margin-right: 65px;
}

.terms-link {
  margin-left: auto;
  text-align: right;
}

.footer-bottom-column-title,
.footer-bottom-column-link {
  font-size: 14px;
  line-height: 1.3;
}

.footer-bottom-column-title {
  font-weight: 500;
  margin-bottom: 7px;
}

.copyright,
.address-column-list,
.adress-address {
  font-size: 14px;
  line-height: 1.3;
}

.address-column-list-item:not(:last-child) {
  margin-bottom: 3px;
}

.br {
  display: block;
  margin-bottom: 3px;
}

.footer-bottom-column-link {
  margin-bottom: 20px;
}

.footer-bottom-column-logo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--studio-logo-color);
  font-size: 12px;
  line-height: 1.3;
}

.studio-logo {
  margin-left: 14px;
  fill: var(--web-studio-fill);
}
/*# sourceMappingURL=main.css.map */