.gallery {
  padding-top: 44px;
  padding-bottom: 80px;
}

.gallery__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}

.gallery__list-manager {
  margin-left: auto;
}
