.header {
  position: absolute;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(217, 217, 222, 0.3);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 179px;
}

.header__contacts {
  display: flex;
}

.header__modal-btn {
  margin-left: auto;
}
