.modal-btn {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 26px;
  padding-right: 26px;
  @include _fs_lh(16, 19);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  cursor: pointer;
  color: var(--dark-theme-title-color);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-btn-color1);
    border-color: var(--accent-btn-color1);
  }
}
