body {
  font-family: var(--text-font-family);
  color: var(--light-theme-text-color);
}

.container {
  width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

// .section {
//     padding-top: 150px;
//     padding-bottom: 150px;
// }
