.container {
  width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.section_border_bottom {
  border-bottom: 1px solid #d9d9de;
}

.section_light-bg_blue {
  background-color: var(--light-bg-blue);
}

.section_light-bg_green {
  background-color: var(--light-bg-green);
}
