:root {
  --titles-font-family: 'PT Serif', 'Georgia', 'Times', serif;
  --text-font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  --light-theme-title-color: #000000;
  --dark-theme-title-color: #ffffff;
  --web-studio-fill: rgba(255, 255, 255, 0.5);
  --light-theme-text-color: #333333;
  --dark-theme-text-color: rgba(255, 255, 255, 0.8);
  --helper-text-color: #76767a;
  --link-text-color: #0050b2;
  --accent-btn-color1: #004395;
  --first-brand-color: #70cf29;
  --second-brand-color: #3fa9f5;
  --form-background-color: #f5f5f7;
  --footer-background-color: #202020;
  --studio-logo-color: rgba(255, 255, 255, 0.5);
}
